<h1>Gestão de Patrimônio</h1>

<div class="sectionA">
    <div class="barcode">
        <label>Etiqueta</label>
        <input>
    </div>
    <div class="date">
        <label>Data de Aquisição</label>
        <input>
    </div>
</div>

<div class="sectionB">
    <label>Descrição</label>
    <input>
</div>

<button class="btn">
    Adicionar
</button>




<div class="table-container">
    <table class="styled-table" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Etiqueta</th>
                <th>Descrição</th>
                <th>Aquisição</th>
            </tr>        
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td>{{item.id}}</td>
                <td>{{item.barcodeLabel}}</td>
                <td>{{item.description}}</td>
                <td>{{item.acquisitionDate | date:"dd/MM/yyyy"}}</td>
            </tr>
        </tbody>
    </table>

</div>
