<h1>Gestão de Patrimônio</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="sectionA">
        <div class="barcode">
            <label for="barcode-label">Etiqueta</label>
            <input type="text" id="barcode-label" formControlName="barcodeLabel">
        </div>
        <div class="acquisitionDate">
            <label for="acquisition_date">Data de Aquisição</label>
            <input type="date" id="acquisition_date" formControlName="acquisitionDate">
        </div>
    </div>
    
    <div class="sectionB">
        <label for="description">Descrição</label>
        <input type="text" id="description" formControlName="description">
    </div>
    
    <button class="btn" type="submit" [disabled]="!form.valid">
        Adicionar
    </button>
</form>

<div class="table-container">
    <table class="styled-table" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Etiqueta</th>
                <th>Descrição</th>
                <th>Aquisição</th>
            </tr>        
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td>{{item.id}}</td>
                <td>{{item.barcodeLabel}}</td>
                <td>{{item.description}}</td>
                <td>{{item.acquisitionDate | date:"dd/MM/yyyy"}}</td>
            </tr>
        </tbody>
    </table>

</div>
